ray[rllib]==2.9.3
gymnasium==0.28.1
numpy==1.26.4
scipy==1.11.4
pandas==2.1.4
pyyaml==6.0.2
psutil==5.9.8
fasteners==0.19
tensorboard==2.15.2
lz4==4.3.3
setuptools==70.0.0
packaging==24.2
protobuf==4.25.3
wheel==0.46.3
